

**/__pycache__/*.pyc

**/target/*

**/.openjfx/*

**/.idea/

**/*.project
**/*.classpath
**/.settings/

/memory/cards/games/target/
/memory/cards/game/target/
/memory/cards/desktop/target/
/type-o-rama/nbproject/
