
@font-face {
  font-family: minecraftUiFont;
  src: url(minecraft.ttf);
}


body
{
    background-image: url("dirt.png");
    
    font-family: minecraftUiFont;
    font-size: xx-large;
}


.SideBySideContainer
{
    background-image: url("darker-dirt.png");
}

.SideBySideLeft
{
}


.SideBySideRight
{
}
